.setion_up {
    cursor: default;
}

.container_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 70px 0px 140px;
    color: white;
    gap: 10px;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
}
.title strong {
    color: black;
    font-size: 55px;
}

.title_content { 
    max-width: 460px;
    padding: 0px 10%;
}



.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    min-width: 45vh;
    margin-left: 25vh;
    margin-right: 25vh;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 10px;
    background-color: white;
    margin-bottom: 25vh;
}



.search_by_name {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 250px;
    padding-left: 35px;
    padding-right: 35px;
}



.search_by_name::before {
    content: "\007C"; 
    position: absolute;
    top: 30%;
    left: 90%;
    transition: .3s;
}

.search_by_name:hover::before {
    content: "\007C";
    color: rgb(153, 153, 153);
    transform: scaleY(2);
}


.search_by_class {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    height: 100%;
}

.search_by_class ul {
    cursor: default;
    color: gray;
}

.search_by_class ul:hover {
    color: rgb(0, 0, 0);
    border-top: 2px solid rgb(192, 158, 5);
}

.search_by_class ul:active {
    color: rgb(0, 0, 0);
    border-top: 2px solid rgb(192, 158, 5);
    
}


.search_by_select_class {
    display: flex;
    flex-direction: row;
}

.search_by_rank {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 250px;
    padding-left: 35px;
    padding-right: 35px;
}

.search_by_rank:after {
    content: "\007C"; 
    position: absolute;
    top: 30%;
    right: 90%;
    transition: .3s;
}

.search_by_rank:hover::after {
    content: "\007C";
    color: rgb(153, 153, 153);
    transform: scaleY(2);
}


.section_card_champs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



@media only screen and (min-width: 1270px) and (max-width: 1500px) {
    .searchBar {
        margin-left: 15vh;
        margin-right: 15vh;
    }
    
}
@media only screen and (max-width: 1270px) {
    .searchBar {
        margin-left: 0vh;
        margin-right: 0vh;
    }
    
}



@media only screen and (min-width: 801px) {
    
    .search_by_select_class {
        display: none;
    }
}


@media only screen and (max-width: 800px) {
    .search_by_class {
        display: none;
    }
}

@media only screen and (max-width: 534px) {
    .search_by_select_class {
        font-size: 14px;
    }
}

@media only screen and (max-width: 420px) {
    .search_by_name:after {
        content: "\007C"; 
        position: absolute;
        top: 30%;
        right: 90%;
        transition: .3s;
    }

    .search_by_name:hover::after {
        content: "\007C";
        color: rgb(153, 153, 153);
        transform: scaleY(2);
    }
    

    .search_by_select_class {
        display: none;
    }

    .search_by_rank {
        display: none;
    }

    .searchBar {
        justify-content: center;
    }
}
