.home_section_conteudo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.home_page_image_container {
  display: flex;
  justify-content: center;
  height: 500px;
  padding-top: 50px;  
  position: relative;
}



.home_page_image {
  box-shadow: 5px 5px 15px black;
  transition: .3s;
}

.home_page_image:hover {
  transform: scale(0.99);
}

.home_page_logo {
  position: absolute;
  top: 35%;
  transition: .5s;
}

.home_page_logo:hover {
  transform: scale(1.2);
}
