.home_page_session_image {
  background-color: #32322C;
  height: 600px;
}
.home_page_image_container {
  display: flex;
  justify-content: center;
  height: 500px;
  background-color: #ffff00;
  padding-top: 50px;  
  position: relative;
}



.home_page_image {
  box-shadow: 5px 5px 15px black;
}

.home_page_logo {
  position: absolute;
  top: 35%;
}

.text_about {
  display: flex;
  justify-content: center;
  background-color: #32322C;
  flex-wrap: wrap;
}

.text_about p {
  margin: 1em;
  background-color: rosybrown;
  padding: 1em;
  border-radius: 25px;
  height: 300px;
  width: 300px;
}