.home_page_section_image {
  background-color: #32322C;
  height: 600px;
}
.home_page_image_container {
  display: flex;
  justify-content: center;
  height: 500px;
  background-color: #ffff00;
  padding-top: 50px;  
  position: relative;
}



.home_page_image {
  box-shadow: 5px 5px 15px black;
  transition: .3s;
}

.home_page_image:hover {
  transform: scale(0.99);
}

.home_page_logo {
  position: absolute;
  top: 35%;
  transition: .5s;
}

.home_page_logo:hover {
  transform: scale(1.2);
}
.text_about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.text_about p {
  margin: 1em;
  background-color: #ffff006e;
  padding: 1em;
  height: 300px;
  width: 300px;
  overflow: clip;
}

.home_section_conteudo {
  margin-top: 10vh;

}